<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Добавление юзера</title>
</head>
<body>
<form th:method="POST" th:action="@{/}" th:object="${user}">
    <label for="name">Введите имя: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <label for="email">Введите email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    </br>
    </br>
    <input type="submit" value="Создание User">
</form>
</body>
</html>